<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <title>Home Page</title>
</head>

<body>


  <%- include('partials/nav') %>
    <div class="container mt-3 row row-cols-3  mx-auto  ">
      <% blogs.forEach(blog=> { %>
        <div class="col">

          <div class="card col" style="width: 18rem;">
            <img src="<%= blog.coverImgUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= blog.title %>
              </h5>
              <a class="btn btn-primary" href="/blog/<%= blog._id %>">Read More</a>
            </div>
          </div>
        </div>
        <% }) %>
          </>


          <%- include('partials/scripts') %>
</body>

</html>